body, html {
    background-color: #D0D0D0;
    font-family: Helvetica;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


#header {
    background-color: #0D4A5D;
    border-bottom: 2px solid #4991A7;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#footer {
    color: #646464;
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}

#footer-content {
    position: absolute;
    bottom: 0;
}

input[type=search] {
    background: #F5F5F5;
    border: 0px;
    border-radius: 2px;
    display: block;
    font-size: 18px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 400px;
    -webkit-appearance: textfield;
}

#friends {
    background-color: #F5F5F5;
    border-bottom: 2px solid #808080;
    border-radius: 2px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 380px;
}

*:focus {
    outline: 0;
}